* {
    margin: 0;
    padding: 0;
}

/*设计稿尺寸 720X1080px*/

html {
    font-size: 400%;
}

body {
    background: RGB(239,240,244);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 0.9rem;
    background: #5fc0cd;
    color: #ecf1f4;
    font-size: 0.16rem;
    text-align: center;
}

.sign,
.close {
    position: absolute;
    left: 0.3rem;
    top: 0.25rem;
    font-size: 0.32rem;
    z-index: 2;
}

.close {
    right: 0.3rem;
    left: auto;
    z-index: 2;
}

.login {
    /*position: absolute;*/
    display: inline-block;
    font-size: 0.36rem;
    margin-top: 0.19rem;
}

form .tel,
form .pw {
    background: white;
    text-align: left;
    height: 1rem;
    margin-top: 0.2rem;
    overflow: hidden;
    /*margin-bottom: 20px;*/
}

.tel input,
.pw input {
    height: inherit;
    width: 60%;
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    left: 1.2rem;
    right: 0;
    border: 0;
    padding-left: 0.34rem;
    font-size: 0.32rem;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #eaedee;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #eaedee;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #eaedee;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #eaedee;
}

.tel input:focus,
.pw input:focus {
    /*border: white px solid !important;*/
    outline: none;
    background: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input[type="number"]{
    -moz-appearance:textfield;
}

.tel img,
.pw img {
    height: 0.4rem;
    width: 0.27rem;
    position: absolute;
    left: 0.44rem;
    padding-right: 0.44rem;
    top: 1.4rem;
    border-right: 1px solid #eaedee;
}

.pw img {
    top: 2.6rem;
}

button {
    background: #5fc0cd;
    height: 1rem;
    width: 100%;
    margin-top: 0.7rem;
    border: 0;
    font-size: 0.36rem;
    color: #ecf1f4;
}

.forget {
    font-size: 0.32rem;
    position: absolute;
    right: 0.3rem;
    top: 5rem;
    margin-top: 0.2rem;
    color: #5fc0cd;
}

@media screen and (max-width: 320px) {
    body {
        width: 320px;
    }
    header {
        width: 320px;
    }
    .close {
        right: 0;
        left: 259.8px;
        width: 40.950px;
    }

    .forget {
        right: 0;
        left: 209.025px;
        width: 91.775px;
    }
}