* {
    margin: 0;
    padding: 0;
}

body {
    /*640px*/
    width: 100%;
    height: 100vh;
    font-family: "Hiragino Sans GB",sans-serif;
    color: #fff;
    font-size: 16px;
    background: rgb(104,205,213);
}



.header {
    background: rgb(34,41,44);
    height: 8vh; /* 88 */
    text-align: center;
    padding-top: 2.2%;
}

.header-return {
    float: left;
    margin-left: 2.65625%;
    height: 41%; /*36.8*/
    width: 13.6%; /*87.4*/
    margin-top: 2%;
}

.return-out {
    float: left;
    height: 100%;
    width: 25.2%; /* 22 */
}

.header-return-text {
    float: left;
    margin-left: 12%;
    font-size: 162.5%;

}

.header-name {
    color: #FFF;
    width: 5.625%;
    height: 71%;
    margin-top: -29%;
    font-size: 212.5%;
}

.more {
    float: right;
    margin-right: 2.65%;
    margin-top: 2%;
}

.container {
    width: 100%;
    height: 98vh; /*990*/

    text-align: center;
}

.return-in {
    width: 8.75%;
    height: 5.56%;
    margin: 5.4%;
    float: left;
}

.icon {
    width: 28.6%;
    height: 7.3%;
    margin: 6.6% 41% 0 31.1%;
}

.description {
    text-align: left;
    font-weight: lighter;
    width: 70%;
    height: 20%;
    font-size: 187.5%;
    margin: 0 auto;
    padding-top: 18.75%;
    line-height: 150%;
}

.contact1 {
    float: left;
    width: 18.9%;
    height: 12.8%; /*127*/
    padding-top: 27.34%;
    padding-left: 19.1%;
    list-style-type: none;
}

.contact2 {
    float: right;
    width: 18.9%; /*121*/
    height: 12.8%;
    padding-top: 27.34%;
    padding-right: 19.1%;
    list-style-type: none;
}

ul .img1 {
    background: url("task3-05.png") 0 0 no-repeat;
    height: 67%;
    margin-left: 12.3%;
}

ul .img2 {
    background: url("task3-06.png") 0 0 no-repeat;
    height: 67%;
    margin-left: 12.3%;
}