* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 625%;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Hiragino Sans GB","Hiragino Sans GB",sans-serif;
    color: #fff;
    background: rgb(104,205,213);
}

.container {
    width: 100vw;
    height: 92vh; /*990*/
    text-align: center;
}

.return-in {
    position: absolute;
    top: 0.23rem;
    left: 0.23rem;
    width: 0.4rem;
    height: 0.4rem;
    /*margin: 0.23rem;*/
}

.picture {
    margin-top: 0.27rem;
}

.icon {
    width: 1.2rem;
    height: 0.5rem;
    /*margin: 0.27rem 1.7rem 0 1.29rem;*/
    /*position: absolute;*/
    /*top: 1.17rem;*/
    margin: 0 auto;
}

.description {
    text-align: justify;
    font-weight: lighter;
    font-size: 0.15rem;
    margin: 0 0.512rem;
    padding-top: 0.77rem;
    line-height: 2;
}

.contact1,
.contact2 {
    width: 0.78rem;
    height: 0.87rem;
    padding-top: 1.13rem;
    list-style-type: none;
}

.contact1 {
    float: left;
    padding-left: 0.512rem;
}

.contact2 {
    float: right;
    padding-right: 0.512rem;
}

ul .img1,
ul .img2 {
    height: 0.505rem;
    margin-left: 0.1rem;
}

ul .img1 {
    background: url("task3-05.png") 0 0 no-repeat ;
    -webkit-background-size: 0.425rem;
    background-size: 0.425rem;
}

ul .img2 {
    background: url('task3-06.png') 0 0 no-repeat;
    -webkit-background-size: 0.425rem;
    background-size: 0.425rem;
}

li.tel {
    font-size: 0.145rem;
}

/* iphone 6/7/8*/
@media screen  and (device-width: 375px){
    /*html {*/
        /*font-size: 9.5px;*/
    /*}*/
}



/* ipad 竖屏*/
@media screen and (min-width: 767px) {
    /*html {*/
        /*font-size: 18px;*/
        /*overflow-y: scroll;*/
    /*}*/

}