* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Hiragino Sans GB","Hiragino Sans GB",sans-serif;
    color: #fff;
    background: rgb(104,205,213);
}

.header {
    background: rgb(34,41,44);
    height: 7vh; /* 88 */
    text-align: center;
    padding-top: 1rem;
}

.header-return {
    float: left;
    margin-left: 1.1rem;
    height: 2.4rem; /*36.8*/
    width: 6.8rem; /*87.4*/
    margin-top: 0.8267rem;
}

.return-out {
    float: left;
    height: 100%;
    width: 1.7rem; /* 22 */
}

.header-return-text {
    float: left;
    margin-left: 0.815rem;
    font-size: 1.595rem;
}

.header-name {
    color: #FFF;
    margin-top: 0.418rem;
    font-size: 2.245rem;
    display: inline-block;
    font-weight: lighter;
}

.more {
    float: right;
    margin-right: 1.1rem;
    margin-top: 0.4138rem;
    /* width: 10%; */
    height: 3rem;
}

.container {
    width: 100vw;
    height: 92vh; /*990*/
    text-align: center;
}

.return-in {
    float: left;
    width: 4rem;
    height: 4rem;
    margin: 2.3rem;
}

.icon {
    width: 12rem;
    height: 5rem;
    margin: 2.7rem 17rem 0 12.9rem;
}

.description {
    text-align: justify;
    font-weight: lighter;
    width: 31.2rem;
    height: 13.5rem;
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 7.7rem;
    line-height: 2;
}

.contact1,
.contact2 {
    width: 7.8rem;
    height: 8.7rem;
    padding-top: 11.3rem;
    list-style-type: none;
}

.contact1 {
    float: left;
    padding-left: 8rem;
}

.contact2 {
    float: right;
    padding-right: 8rem;
}

ul .img1,
ul .img2 {
    height: 7rem;
    margin-left: 1rem;
}

ul .img1 {
    background: url("task3-05.png") 0 0 no-repeat ;
    -webkit-background-size: 6.4rem;
    background-size: 6.4rem;
}

ul .img2 {
    background: url('task3-06.png') 0 0 no-repeat;
    -webkit-background-size: 6.4rem;
    background-size: 6.4rem;
}

li.tel {
    font-size: 1.45rem;
}

/* iphone 6/7/8*/
@media screen  and (device-width: 375px){
    html {
        font-size: 9.5px;
    }
}



/* ipad 竖屏*/
@media screen and (min-width: 767px) {
    html {
        font-size: 18px;
        overflow-y: scroll;
    }

}